@font-face {
    font-family: "flaticon";
    src: url("../font-2/flaticon.ttf?cd5989ebace69541f1d403e9a88e743c") format("truetype"),
url("../font-2/flaticon.woff?cd5989ebace69541f1d403e9a88e743c") format("woff"),
url("../font-2/flaticon.woff2?cd5989ebace69541f1d403e9a88e743c") format("woff2"),
url("../font-2/flaticon.eot?cd5989ebace69541f1d403e9a88e743c#iefix") format("embedded-opentype"),
url("../font-2/flaticon.svg?cd5989ebace69541f1d403e9a88e743c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-group:before {
    content: "\f101";
}
.flaticon-group-1:before {
    content: "\f102";
}
.flaticon-checked:before {
    content: "\f103";
}
.flaticon-donation:before {
    content: "\f104";
}
.flaticon-business-and-finance:before {
    content: "\f105";
}
