:root {
    --primary-color: #852aff;
    --secondary-color: #391582;
}
* {
    box-sizing: border-box;
}
body {
    background-color: white !important;
}
body,
tbody > tr > td {
    color: black !important;
}
/* remove padding  */
/* .container-fluid {
    padding: 0 !important;
}
.page-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

/* to hide default search section */
.search-wide {
    display: none !important;
}
.search-short {
    display: none !important;
}
ul.pagination {
    justify-content: center;
    margin-top: 20px;
}
.img-homestay {
    height: 200px;
    width: 250px;
    object-fit: cover;
    margin: 0 auto;
}
.alert > p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.form-control,
.form-select {
    border: 2px solid var(--secondary-color) !important;
    transition: all 0.2s ease;
    color: black !important;
}
.form-control:hover,
.form-select:hover {
    border-color: var(--primary-color) !important;
}
.form-control:disabled {
    background-color: #b4b4b4 !important;
}
td {
    text-align: center;
}
td a {
    padding-top: 12px;
}
.color-purple {
    color: var(--primary-color);
}
.color-dark-purple {
    color: var(--secondary-color);
}
.bg-purple {
    background-color: var(--primary-color);
    color: white;
}
.border-purple {
    border: 2px solid var(--primary-color);
    border-radius: 0.25rem;
    box-shadow: 2px 2px 6px 3px rgb(90, 90, 90);
}
.btn {
    padding: 12px !important;
    border-radius: 0.75rem !important;
}
.btn-primary,
.btn-purple {
    background-color: var(--primary-color) !important;
    color: white;
    transition: all 0.2s ease;
    border-radius: 0.75rem;
    border: none;
    padding: 12px;
}
.btn-primary:hover,
.btn-purple:hover {
    background-color: var(--secondary-color) !important;
    color: white !important;
}
.btn-dark-purple {
    background-color: var(--secondary-color) !important;
    color: white;
    transition: all 0.2s ease;
    border-radius: 0.75rem;
    border: none;
    padding: 12px;
}
.btn-dark-purple:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}
/* the + button to show the hidden column of table */
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    background-color: var(--primary-color);
}
/* the - button */
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > th.dtr-control:before {
    background-color: var(--secondary-color);
}
/* for pagination link */
.page-item.active .page-link {
    background-color: var(--primary-color) !important;
}
.page-title {
    white-space: nowrap;
}
#img-preview,
.img-preview-container {
    object-fit: cover;
    height: 150px;
    width: 200px;
    cursor: pointer;
}
.card-org {
    width: 50%;
}
/* homepage */
#banner-container {
    position: relative;
}
#banner-container > img {
    height: 250px;
    width: 100%;
    object-fit: cover !important;
    object-position: 0 70%;
}
#banner-content {
    color: #ffffff;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.592);
}
/* new search */
#search-icon {
    cursor: pointer;
}
.search-container-input {
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Align input and SVG to the left */
}
.input {
    width: 200px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 2px var(--primary-color);
    transition: all 0.2s ease-in-out;
    outline: none;
    opacity: 0.8;
}
.search-container-input svg {
    /* position: absolute; */
    top: 10px;
    position: inherit;
    left: -40px;
    /* right: 100px; */
    transform: translate(0, -50%);
}
.input:focus {
    opacity: 1;
    width: 450px;
}
/*end of new search  */
.home-thumbnails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.home-thumbnail-container {
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease;
}
.home-thumbnail-container:hover {
    transform: translate(2px, -8px);
}
.home-thumbnail-img {
    height: 250px;
    width: 300px;
    border-radius: 0.25rem;
    object-fit: cover;
}
.home-thumbnail-captions > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* show room */
.gallery-container {
    border: 4px solid var(--primary-color);
    padding: 0 !important;
    position: relative;
    margin: 0 auto !important;
    height: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
}
.gallery-container > img {
    grid-row: 1 / 2;
}
.inner-gallery-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.gallery-container img {
    width: 100%;
    height: 100%;
    max-height: 330px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.2s ease;
}

.gallery-container img:hover {
    filter: brightness(0.5);
}
.inner-gallery-container > img {
    max-height: 165px;
}
/* gallery button */
.btn-gallery-container {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.btn-gallery {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: var(--secondary-color);
    background-size: 400%;
    color: #fff;
    border: none;
}

.btn-gallery:hover::before {
    transform: scaleX(1);
}

.btn-gallery-content {
    position: relative;
    z-index: 1;
}

.btn-gallery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
}
/* gallery */
.green {
    background-color: #6fb936;
}

img.zoom {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.fancybox-skin {
    padding: 0 !important;
}
.transition {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
div#modal-gallery,
div#modal-fullscreen {
    background-color: rgba(0, 0, 0, 0.7);
}
#modal-gallery .modal-body,
#modal-fullscreen .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: transparent !important;
    padding: 0;
}
#modal-gallery .modal-header,
#modal-fullscreen .modal-header {
    display: flex;
    justify-content: end;
    border-color: transparent;
}
#modal-gallery .modal-content,
#modal-fullscreen .modal-content {
    background-color: transparent !important;
    border-color: transparent !important;
}
#btn-close-gallery,
#btn-close-image {
    background-color: transparent !important;
    color: white;
    border: none !important;
    font-size: 35px;
    text-align: end !important;
}
#fullscreen-image-container {
    position: relative;
}
#fullscreen-image-container > img {
    width: 100%;
    height: 450px;
    object-fit: contain;
}
.room-details {
    text-align: justify;
    white-space: pre-wrap;
}
/* for datepicker - jquery ui */
.booking-container {
    background-color: #7145ff;
    border-radius: 0.25rem;
    padding: 12px;
}

/* Tooltip styles */
.ui-datepicker td.discount-date a {
    background-color: blue !important;
    border: 1px solid blue;
    cursor: pointer;
}
.ui-datepicker td.discount-date a:hover {
    color: blue;
    background-color: white !important;
}
.ui-datepicker td.increase-date a {
    background-color: rgb(255, 60, 106) !important;
    border: 1px solid rgb(255, 60, 106);
    cursor: pointer;
}
.ui-datepicker td.increase-date a:hover {
    color: rgb(255, 60, 106);
    background-color: white !important;
}

/* To display tooltips */
.ui-datepicker td span.ui-state-highlight {
    position: relative;
}

.ui-datepicker td span.ui-state-highlight:after {
    content: attr(title);
    position: absolute;
    bottom: -25px; /* Adjust the distance from the cell */
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: var(--primary-color);
    text-align: center;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.ui-datepicker td span.ui-state-highlight:hover:after {
    display: block;
}
.ui-state-active {
    color: white;
    background-color: var(--secondary-color);
}
.ui-state-active:hover {
    color: var(--primary-color);
    background-color: white;
}
.ui-state-highlight:not(.ui-state-active) {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.ui-datepicker {
    padding: 0 !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    padding: 6px !important;
}
.ui-datepicker {
    width: 350px;
}
.ui-datepicker td {
    width: 14.29% !important;
}
.price-text {
    font-size: 11px;
}
/* for book button */
.btn-book {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    background: var(--secondary-color);
    border: 1px solid white;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.btn-book:hover {
    background: var(--primary-color);
}

.btn-book > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.btn-book:hover svg {
    transform: translateX(5px);
}

.btn-book:active {
    transform: scale(0.95);
}
/* for add promotion */
.promotion-container {
    width: 50%;
    margin: 0 auto;
}
.border-bottom {
    border-bottom: 2px solid white;
}

/* for booking checkout */
.border-white {
    border: 1px solid white;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6) !important;
    padding: 12px;
}
/* for review section */
.review-container {
    display: flex;
    flex-wrap: wrap;
}
.review-container > div {
    padding: 12px 0;
    flex-basis: 50%;
    margin-bottom: 12px;
}
.review-container p {
    text-align: justify;
}
.rated {
    color: var(--primary-color);
    font-size: 22px;
}
.unrated {
    color: var(--primary-color);
    font-size: 22px;
}
/* for tempahan anda */
.nav-tabs > li > a,
.nav-pills > li > a {
    color: var(--secondary-color) !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: var(--primary-color) !important;
}
.tab-card {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6) !important;
}
.tab-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/* rating */

.cross {
    padding: 10px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 23px;
}

.cross i {
    margin-top: -5px;
    cursor: pointer;
}

.comment-box {
    padding: 5px;
}

.comment-area textarea {
    resize: none;
    border: 1px solid var(--primary-color);
}

.send {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.send:hover {
    color: #fff;
    background-color: #f50202;
    border-color: #f50202;
}

.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse;
}

.rating > input {
    display: none;
}
.rating > span {
    color: var(--primary-color);
    width: 22px;
    font-size: 28px;
}
.rating > label {
    position: relative;
    width: 28px;
    font-size: 35px;
    color: var(--primary-color);
    cursor: pointer;
}
.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before {
    opacity: 1;
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4;
}
#booking-details-container {
    position: relative;
}
#booking-button-group {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* for mobile responsive */
@media screen and (max-width: 500px) {
    #image-previews {
        flex-wrap: nowrap !important;
        justify-content: flex-start !important;
        width: 100% !important;
        overflow-x: auto !important;
    }
    .content-container {
        width: 100% !important;
    }
    .card-body > div {
        display: block;
    }
    .card-body > div > .col-6 {
        max-width: 100%;
    }
    .card-org {
        width: 90% !important;
    }
    /* homepage */
    #banner-content > * {
        padding: 8px;
        font-size: 20px !important;
    }
    .input {
        width: 70%;
    }
    .input:focus {
        width: 100%;
    }
    #modal-gallery .modal-body {
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: auto;
        justify-content: flex-start;
    }
    #modal-gallery .modal-body::-webkit-scrollbar {
        width: 25px;
        height: 10px;
    }
    #modal-gallery .modal-body::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 0.25rem;
    }
    /* show page */
    .gallery-container {
        grid-template-columns: 100%;
    }
    #room-info {
        padding: 12px !important;
    }
    #ui-datepicker-div {
        left: 50% !important;
        transform: translate(-50%);
    }
    .review-container > div {
        flex-basis: 100%;
    }
    /* promotion */
    .promotion-container {
        width: 100%;
    }
    /* tempahan anda */
    #tab-container {
        padding: 12px !important;
    }
}
